@{
    ViewData["Title"] = "Movie List";
}

@model List<MovieEntry> 

<table class="table table-bordered table-striped">

    <!--Column labels-->
    <thead class="font-weight-bold">
        <tr>
            <td>Category</td>
            <td>Title</td>
            <td>Year</td>
            <td>Director</td>
            <td>Rating</td>
            <td>Edited</td>
            <td>Lent To</td>
            <td>Notes</td>
        </tr>

    </thead>

    <!--specific records-->
    <tbody>
        <!--Loops through the list of Movie Entries to grab each field and assign it to a column-->
        @foreach (var x in Model)
            {
                <tr>
                    <td>@x.Category.CategoryName</td>
                    <td>@x.Title</td>
                    <td>@x.Year</td>
                    <td>@x.Director</td>
                    <td>@x.Rating</td>
                    <td>@x.Edited</td>
                    <td>@x.LentTo</td>
                    <td>@x.Notes</td>

                    <!--The route allows the movieid to be sent through the route -->
                    <td><a asp-controller="Home" asp-action="Edit" asp-route-movieid="@x.MovieId">Edit</a></td>
                    <td><a asp-controller="Home" asp-action="Delete" asp-route-movieid="@x.MovieId">Delete</a></td>
                </tr>
            }
    </tbody>

</table>

